.menu {
    background: #1F4458;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: fit-content;
    min-height: 100%;
    max-width: 150px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
}

.menuWrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuItem {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    cursor: pointer;
    background: #1F4458;
    border-bottom: 1px solid #7698AA;
    transition: 0.3s all;
    position: relative;
}

.submenuContainer {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    z-index: 10;
}

.submenuContainer li {
    border-left: 1px solid #7698AA;
}

.menuItem:hover .submenuContainer{
    display: block;
}

.menuWrapper a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.active .menuItem{
    background: #00A3E7;
}

.active .menuText {
    color: #FFFFFF;
}

.active {
    text-decoration: none;
    color: #FFFFFF;
}

.menuItem a:hover {
    color: #FFFFFF;
}

.menuText {
    color: #7698AA;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.39px;
}

.menuItem:hover {
    background: #00A3E7;
}

.menuItem:hover .menuText {
    color: #FFFFFF;
}

.menuItem:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(98%) contrast(114%);
}

.active .menuItem img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(98%) contrast(114%);
}

.nohover:hover {
    background: unset;
}

.nohover:hover .menuText{
    color: #7698AA;
}


@media screen and (max-width: 900px) {
 .menu {
     display: none;
 }
}
